.logo {
  font-family: var(--font-geist-sans);
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.sub_heading {
  font-family: var(--font-geist-sans);
  font-size: 25px;
  line-height: 1.3;
  color: #333;
}

.feature_heading {
  font-family: var(--font-geist-mono);
  color: #202124;
  font-weight: 500;
  letter-spacing: -0.9px;
  font-size: 20px;
  margin-top: 20px;
}

.feature_desc {
  color: #5f6368;
  font-family: var(--font-geist-sans);
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 2;
  margin-top: 10px;
}

.date_heading {
  font-family: var(--font-geist-mono);
  color: #333;
  font-weight: 500;
  letter-spacing: -0.9px;
  margin-bottom: 10px;
}

@media (min-width: 576px) {
  .sub_heading {
    font-size: 32px;
  }
  .feature_heading {
    font-size: 22px;
  }
  .feature_desc {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .sub_heading {
    font-size: 40px;
  }
  .feature_heading {
    font-size: 22px;
  }
  .feature_desc {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .sub_heading {
    font-size: 70px;
  }
  .feature_heading {
    font-size: 30px;
  }
  .feature_desc {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .sub_heading {
    font-size: 98px;
  }
  .feature_heading {
    font-size: 32px;
  }
  .feature_desc {
    font-size: 18px;
  }
}
@media (min-width: 1400px) {
  .sub_heading {
    font-size: 100px;
  }
  .feature_heading {
    font-size: 32px;
  }
  .feature_desc {
    font-size: 18px;
  }
}
